<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    PIZZA SYSTEM
                </div>
                <div class="card-body">
                    <form #projectForm="ngForm" (ngSubmit)="newPizza(projectForm)">
                        <div class="form-group">
                            <input type="text" name="title" #name="ngModel" [(ngModel)]="namePizza" placeholder="Insert a name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="origin" #origin="ngModel" [(ngModel)]="originPizza" placeholder="Insert a origin" class="form-control">
                        </div>
                        <p>
                            <a href="#bloque1" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="bloque1" class="btn btn-primary btn-sm">Select ingredients</a>
                        </p>
                        <div id="bloque1" class="collapse">
                            <div class="card card-body mb-2">
                                <div class="row">
                                    <div class="form-check col-4" *ngFor="let ingredient of ingredients; index as i">
                                        <label class="form-check-label">
                                            <input type="checkbox" (click)="active(ingredient.id)" />
                                            {{ingredient.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered table-hover bg-white">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Origin</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pizza of pizzas">
                        <td>
                            {{pizza.id}}
                        </td>
                        <td>
                            {{pizza.name}}
                        </td>
                        <td>
                            {{pizza.origin}}
                        </td>
                        <td class="d-flex justify-content-center">
                            <a [routerLink]="['/pizza-ingredient', pizza.id]" class="btn btn-success ml-1"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger text-white ml-1" data-toggle="modal" data-target="#fm-modal-grid" (click)="setIdDelete(pizza.id, pizza.name)"> <i class="fas fa-trash-alt"></i> </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog" aria-labelledby="fm-modal-grid" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CONFIRM DELETE</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h5>Are you sure to remove the pizza {{infoPD.name}}?</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" (click)="deleteYes();">Accept</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>